<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   
	<h:head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	</h:head>

	<h:body>

		<div class="jumbotron text-center">
			<h1 class="display-4">Pesquisa de Contribuintes</h1>
			<hr class="my-4"/>
			<p class="lead">Em caso de dúvidas, <a href="#">entre em contato</a> conosco.</p>
		</div>

		<b:container medium-screen="half">

			<b:form>
				<b:panel title="Tipo de Pesquisa" collapsible="false">
					<b:panelGrid columns="4">
						<b:radiobutton update="" value="#{contribuinteControllerBusca.tipoDeBusca}" itemLabel="Inician com" itemValue="inicia" />
						<b:radiobutton update="" value="#{contribuinteControllerBusca.tipoDeBusca}" itemLabel="Possui" itemValue="possui" />
						<b:radiobutton update="" value="#{contribuinteControllerBusca.tipoDeBusca}" itemLabel="Termina" itemValue="termina" />
						<b:radiobutton update="" value="#{contribuinteControllerBusca.tipoDeBusca}" itemLabel="Igual a" itemValue="igual" />
					</b:panelGrid>
				</b:panel>
			</b:form>

			
			<b:form id="formBusca">
			<b:panelGrid columns="1">

				<b:inputText label="Digite o nome do contribuinte:" value="#{contribuinteControllerBusca.termo}">
					<f:facet name="append">
						<b:commandButton look="primary" value="Pesquisar" ajax="true" update="@form"
							actionListener="#{contribuinteControllerBusca.buscarContribuintes}" iconAwesome="search" icon-align="right" />
					</f:facet>

				</b:inputText>

			</b:panelGrid>

				<b:dataTable value="#{contribuinteControllerBusca.contribuintes}" var="contribuinte" searching='false' paginated="false">
					<b:dataTableColumn value="#{contribuinte.nome}" label="Nome do Contribuinte" />
					<b:dataTableColumn value="#{contribuinte.rua.nome}" label="Nome da Rua" />
					<b:dataTableColumn value="#{contribuinte.numero}" label="nº" />
				</b:dataTable>
			</b:form>

			<b:button loot="primary" look="primary" value="Voltar" href="/index.jsf"></b:button>

		</b:container>
     
  </h:body>
</html>