<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html contentType="text/html"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<h:head>
  
  <!-- For Bootstrap responsive grid -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  
</h:head>

    <h:body>

        <div class="jumbotron text-center">
            <h1 class="display-4">Cadastro de Contribuintes</h1>
            <hr class="my-4"/>
            <p class="lead">Em caso de dúvidas, <a href="#">entre em contato</a> conosco.</p>
        </div>

        <b:container medium-screen="half">
            <b:form>

                <b:panelGrid columns="2">

                    <b:inputText label="Nome:" type="text" id="nome" placeholder="Nome Completo" value="#{contribuinteControllerCadastro.contribuinte.nome}" required="true">
                        <p:keyFilter regEx="/[\s\'a-z_ãâíé]/i"/>
                    </b:inputText>

                    <b:inputText label="CPF:" id="cpf" value="#{contribuinteControllerCadastro.contribuinte.cpfValido}" mask="999.999.999-99" required="true"/>

                    <b:inputText label="Número:" type="number" id="numero" placeholder="Número" value="#{contribuinteControllerCadastro.contribuinte.numero}"/>

                    <b:inputText label="Imóveis:" type="number" id="quantidade_imoveis" placeholder="Quantidade de imóveis" value="#{contribuinteControllerCadastro.contribuinte.quantidade_imoveis}"/>

                    <b:selectOneMenu value="#{contribuinteControllerCadastro.contribuinte.rua}" select2="false" required="false" label="Rua:">
                        <f:selectItem itemLabel="Selecione uma rua:" itemValue="" />
                        <f:selectItems value="#{contribuinteControllerCadastro.ruas}" var="rua" itemValue="#{rua}" itemLabel="#{rua}" />
                    </b:selectOneMenu>

                    <b:growl for="nome" id="growNome" placementFrom="top" show-detail="true" global-only="false" show-summary="false"
                        allow-dismiss="true" animation-enter="animated bounceInDown" animation-exit="animated flipOutX" escape="true" />
                    
                    <b:growl for="cpf" id="growCPF" placementFrom="top" show-detail="true" global-only="false" show-summary="false"
                        allow-dismiss="true" animation-enter="animated bounceInDown" animation-exit="animated flipOutX" escape="true" />

                </b:panelGrid>

                <h:panelGrid columns="2" width="200">
                        <b:commandButton look="primary" icon="search" padding-top="30px" value="Cadastrar" process="@form" update="@form" action="#{contribuinteControllerCadastro.salvar()}"/>
                        <b:button loot="primary" look="primary"  value="Voltar" href="/index.jsf"></b:button>
                </h:panelGrid>

            </b:form>
        </b:container>
 
    </h:body>

</html>
