<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   
  <h:head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </h:head>

  <h:body >
	<b:container medium-screen="half">
		<b:panel title="Extras" collapsible="false">
			<b:form>
				<b:panel>
					<b:panelGrid columns="2">
						<b:column>

							<b:inputText label="Nº Inicial:" value="#{extrasController.numeroInicial}" />
							<b:inputText label="Nº Final:" value="#{extrasController.numeroFinal}" />

							<b:row>
								<b:commandButton look="primary" value=" Gerar" icon="star" ajax="true" update="@form" actionListener="#{extrasController.gerarSequencia}" large-screen="full-width"/>
							</b:row>

						</b:column>

						<b:column>
							<b:row>
								<b:inputTextarea text-align="center" value="#{extrasController.sequenciaGerada}" large-screen='full-width' rows="8"/>
							</b:row>
						</b:column>

					</b:panelGrid>
				</b:panel>
			</b:form>
			
			<b:form id="divisao">
				<b:panel>
					<b:panelGrid columns="4">
						<b:inputText label="Dividendo" value="#{extrasController.divisao.dividendo}" onclick="ajax:extrasController.limparCampos;" update=":divisao:divisor :divisao:resto :divisao:quociente" delay="100" />
						<b:inputText id="divisor" label="Divisor" value="#{extrasController.divisao.divisor}" onchange="ajax:extrasController.divisao.dividir;" update=":divisao" delay="100" />
						<b:inputText id="resto" label="Resto:" value="#{extrasController.divisao.resto}" disabled="true" />
						<b:inputText id="quociente" label="Quociente" value="#{extrasController.divisao.quociente}" disabled="true" />
					</b:panelGrid>
				</b:panel>
			</b:form>
		</b:panel>

	</b:container>
  

  </h:body>
</html>