<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">


<h:head>
  
  <!-- For Bootstrap responsive grid -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  
</h:head>

<h:body >
    <b:row styleClass="show-grid">

        <b:column span="10" offset="10"><a href="/extras.jsf" role="button">Outros Sistemas</a></b:column>
      </b:row>
    
    <b:jumbotron class="text-center">
        <h1>Seja bem vindo!</h1>
        <hr class="my-4"/>
        <a class="btn btn-primary btn-lg" href="/cadastro.jsf" role="button">Cadastrar Contribuinte</a>
        <a class="btn btn-primary btn-lg" href="/busca.jsf" role="button">Pesquisar Contribuinte</a>
      </b:jumbotron>

</h:body>


</html>